[submodule "my-api-backend"]
	path = my-api-backend
	url = https://github.com/p-lurd/myApi-backend
[submodule "my-api-frontend"]
	path = my-api-frontend
	url = https://github.com/p-lurd/myApi-frontend
